<div class="col-md-12">
	<h3>{{title}}</h3>
	<div class="identity-alert alert alert-success" *ngIf="status == 'success'" >
		Datos actualizados correctamente
	</div>
	<div class="identity-alert alert alert-danger" *ngIf="status == 'error'" >
		No ha sido posble actualizar los datos
	</div>
	<form #updateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
		<p>
			<label>Nombre:</label>
			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required >
			<span *ngIf="!name.valid && name.touched">El nombre no es Valido</span>
		</p>
		<p>
			<label>Apeidos:</label>
			<input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required >
			<span *ngIf="!surname.valid && surname.touched">Los Apellidos no son validos</span>
		</p>
		<p>
			<label>Email:</label>
			<input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required >
			<span *ngIf="!email.valid && email.touched">El email no es Valido</span>
		</p>
		<p>
			<label>Cotrasena:</label>
			<input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" >
			<span *ngIf="!password.valid && password.touched">El password no es Valido</span>
		</p>
		<input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!updateForm.form.valid" >
	</form>
</div>